.search-results {
            /* height: 20rem;
            overflow: scroll; */
        }


        .myBtn {
            
  position: fixed;
  top: 0;
  padding: 5px;
  background-color: #cae8ca;
  border: 2px solid #4CAF50;
  top: 370px;
  right:5px;
          }

          .loader{
            position: fixed;
            top: 0;
            padding: 5px;
            background-color: #cae8ca;
            border: 2px solid #4CAF50;
            top: 370px;
            right:5px; 
            left:30px;
          }