<!--The content below is only a placeholder and can be replaced.-->
<h3> Bellow is the custom directive with background color yellow.</h3>

<p appCustomeDirective> this custom directive</p>
<p> data of birth is {{ birthday|date }}</p>
<p> double the value {{10|doublevalue|currency:'USD':'3-4'}}</p>
<a routerLink="users">Users</a>
<a routerLink="employee">Employee</a>
<!-- <ul appCustomeDirective>
    <li *ngFor= "let item of items">{{item}}</li>
</ul> -->
<button class="myBtn" appGototop [hidden]="!showGoTop" (click)="showGoTop = !showGoTop">Top</button>
<h3 class="loader" [hidden]="!showLoader">Loading Data</h3>
<router-outlet></router-outlet>
<!-- <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> -->
<!-- <div appGototop [hidden]="!showGoTop">
        <a href="#">Go to top</a>
    </div> -->
    
            <!-- <a href="#">Go to top</a> -->
            <!-- <span class="scroll-top-inner">
                <i class="fa fa-2x fa-arrow-circle-up"></i>
            </span> -->
        <!-- </div> -->
<div class="search-results">
		    
        <ul infiniteScroll
		    [infiniteScrollDistance]="1"
		    [infiniteScrollThrottle]="80"
        (scrolled)="onScroll()">
        <li *ngFor="let item of items">{{item.title|json}}</li>
        
    </ul>
    
    </div>
    <div *ngIf="errorExist">
    <h3>{{errorMessage}}</h3>
   